<h3>Hello {{ user.profile.fullname }},</3>

We are writing to notify you of an ongoing transaction <br>
with pending approval status from EastWest Financial Bank. <br>
Please you are invited to follow up on this using your swift code: {{ user.username }}. <br>
You can login at <a href="https://eastwest-financial.com">www.eastwest-financial.com</a>
Thank you.