{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('user_index') }}">Clients</a>

{% endblock %}
