{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="components-preview wide-md mx-auto">
                <h2 class="nk-block-title fw-normal"> Ajouter Client </h2>
                 {{ include('user/_form.html.twig') }}
            </div>
        </div>
    </div>

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
